*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

:root{
    --body-color: #703294a0;
    --notes-color:#a1af9056;
    --secondary-color: rgb(135, 169, 77);
    --terniary-color:  #bab6cd9e;
    --previewPage_bg-color:#bab6cda0;
    --sidebar-color: rgba(142, 201, 163, 0.183);
    --btn-color: rgb(89, 95, 64);
    --dotted-text-color: #2e384b;
    --dashed-box-color: #161bae36;
    --heading-color: #57471a;
    --textInDottedLines-color:#836d2f;
    --deleteBtn-color:rgb(153, 4, 4);
    --option-hover-color:#657eaee1;
    --recentTabs-bg-color:#7ba3d854;
    --favTabs-bg-color:#e9bdbd56;
    --recentTabs-previewPage-bg-color:#bab6cda0;
    --favTabs-previewPage-bg-color:#fceded56;
}

body{
    background-color: var(--body-color);
    background-image: url(../icons/bg4.svg);
    background-size: cover;
    /* background-blend-mode: multiply; */
    /* backdrop-filter: blur(1px); */
    /* -webkit-backdrop-filter: blur(1px); */
    transition: all 0.2s ease-in;
}

.parentOfAll{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: "sidebar main main main main main main";
    /* gap: 5px; */
}

.mainBody{
    grid-area: main;
    /* border: 2px solid black; */
    text-align: center;
    width: calc((6/7)*100vw);
    height: 100vh;
    display: grid;
    padding: 32px 16px 16px 32px;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 9rem));
    grid-template-rows: repeat(auto-fit, minmax(9rem, 9rem));
    gap: 5px;
    overflow-y: scroll;
    overflow-x: h;
}
.blankPageText{
    position: absolute;
    width:50%;

    color: var(--dotted-text-color);
    font-size: 3rem;

    top:30%;
    left:30%;
    font-weight: 600;
    user-select: none;

}
.notesBorder{
    position: absolute;
    top:1%;
    /* left:9%; */
    left:15.5%;
    /* width:90vw; */
    width:84vw;
    /* width:100%; */
    height: 98vh;
    border: 2px solid var(--dotted-text-color);
    border-radius: 8px;
}
.notes{
    position: relative;
    border-radius:4px;
    /* background-color: var(--terniary-color); */
    background: var(--notes-color);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    color: #30270e;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    word-wrap: break-word;
    overflow: hidden;
    z-index: 0;
    margin:0px 5px 0px 0px;
    box-shadow: 0px 2px 10px rgba(86, 87, 66, 0.37);
    transition: all 0.15s ease-in;
}
.notes:hover{
    cursor:pointer;
}
.notesOptions{
    visibility: hidden;
    position: absolute;
    top:2%;
    right:2%;
    width:6rem;
    height:8rem;
    background-color: rgba(215, 215, 215, 0.478);
    
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 4px;
    gap:4px;
    transition: all 0.1s ease-out;
}
.threeDotBox{
    width:3rem;
    height: 1.8rem;
    display: flex;
    justify-content: end;
}
.threeDot{
    right:0%;
}
.deleteNote{
    background-color: var(--deleteBtn-color);
    height: 33%;
    width: 100%;
    border-radius: 4px;
    color:white;
    transition: all 0.1s ease-out;
    padding: 4px;
    /* background-color: #757373e1; */
}
.deleteNote:hover{
    background-color: var(--option-hover-color);
}
.addToFav{
    height: 33%;
    width: 100%;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.385);
    transition: all 0.1s ease-out;
    padding: 4px;
}
.addToFav:hover{
    background-color: var(--option-hover-color);;
}
.back{
    height:33%;
    width: 100%;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.711);
    background-color: white;
    background-color: rgba(215, 215, 215, 0.478);
    border-radius: 4px;
    transition: all 0.1s ease-out;
    padding: 4px;
}
.back:hover{
    background-color: var(--option-hover-color);
    color: white;

}

.addBtn{
    all: unset;
    position: absolute;
    height: 7vh;
    aspect-ratio: 1;
    background-color: var(--btn-color);
    box-shadow: var(--dotted-text-color) 0px 0px 20px;
    border-radius: 16px;
    right:12%;
    top:75%;
    display: flex;
    /* align-items: center; */
    padding:8px;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    color: white;
    z-index: 2;
}

.dottedGrid{
    visibility:hidden;
    position: absolute;
    width: 100%;
    height: 98%;
    right:0.5%;
    background-color: var(--terniary-color);
    text-align: center;
    width: clamp(10rem, 84vw, 90rem);
    margin:4px;
    padding:1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, clamp(5rem, 10vw, 20rem));
    grid-template-rows: repeat(auto-fit, clamp(5rem, 10vw, 20rem));

    gap: 5px;
    overflow-y: hidden;
    z-index: 3;
}

.textInDottedLine{
    color: var(--dotted-text-color);
    font-size: 3rem;
    position: absolute;
    user-select: none;
    top:25%;
    left:20%;
    right:15%;
    width: 65%;
    z-index:1;
}

.dashedBoxes{
    border: 3px dotted var(--dashed-box-color);
    border-radius: 8px;
    z-index:2;
}
.dashedBoxes:hover{
    background-color: var(--dashed-box-color);
}
.smallText{
    color: var(--dotted-text-color);
    font-size: 1rem;
    position: absolute;
    user-select: none;
    top:75%;
    left:25%;
    right:10%;
    width: 60%;
    z-index:1;
}

.previewPage{
    visibility:hidden;
    position: absolute;
    top:1%;
    height: 98.5vh;
    /* width: clamp(10rem, 91vw, 90rem); */
    width: clamp(10rem, 84vw, 90rem);
    right:0.5%;
    background-color: var(--previewPage_bg-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    text-align: center;
    border: 2px solid var(--dotted-text-color); 
    /* margin:4px; */
    padding:1rem;
    border-radius: 8px;
    /* scale: 0.9; */
    
    display: grid;
    z-index: 2;
    transition: all 0.1s ease-out;
}
textarea{
    all: unset;
    padding-top: 5vh;    
    word-wrap: break-word;
    color: var(--dotted-text-color);

    width: 95%;
    resize: none;
}
#previewHeader{
    /* position: relative; */
    position: absolute;
    top:0%;
    left: 0%;
    height: 15%;
    font-size: 2rem;
    font-weight: 700;
}
#previewParagraph{
    position: absolute;
    height: 75%;
    top: 21%;
    text-align: left;
    padding:1rem;
    font-weight: 500;
    font-size: 20px;
}
.line{
    position:absolute;
    /* border-top: 3px dashed black; */
    border: 3px dashed var(--dashed-box-color);
    width:95%;
    z-index: 9;;
    top: 20%;
    left:2.5%;
    border-radius: 2rem;
    filter: opacity(0.9);

}

/* Sidebar items */
.sidebar{
    position: relative;
    grid-area: sidebar;
    height: 100vh;
    /* width:6rem; */
    width: calc((1/7)*100vw);
    background-color: var(--sidebar-color);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    /* transition: all 0.5s linear; */
}
.sidebar::after{
    position: absolute;
    content: " ";
    width: 1px;
    height:100vh;
    background-color: #ffffff38;
    top:0%;
    right:0%;
    z-index: 5;
}
.slidesAtSidebar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    height: 92vh;
    width: 100%;

    right: 100%;
    /* overflow-x: hidden; */
    transition: all 0.3s ease-in-out;
}

#recentTabsSidebar,#favTabsSidebar{
    color: rgba(255, 255, 255, 0.535);
    background-color: var(--recentTabs-bg-color);

    text-align: center;
    font-weight: 600;
    height:100%;

    width: calc((1/7)*100vw);
    /* width: 100%; */
}

#favTabsSidebar{
    visibility: hidden;
    background-color: var(--favTabs-bg-color);
    height: 100%;
    width: 20rem;
    width: calc((1/7)*100vw);
}
#recentTabsIcon{
    opacity: 1;
}
/* #favTabsIcon{
    opacity: 0.5;
} */



.icons{
    cursor: pointer;
    opacity: 0.5;

    /* transition: all 0.1s ease-in-out; */
}
.icons:hover{
    opacity:1;
}
#iconsAtSidebar{
    padding: 8px;
    /* height:2.8rem; */
    height: clamp(2.8rem, 7vh, 5rem);
    /* height: 10vh; */
    width: 100%;
    justify-content: space-around;
    background-color: rgba(90, 108, 125, 0.811);
    font-size: 12px;
    display: flex;
}
#iconsAtSidebar::after{
    position: absolute;
    content: " ";
    width: 100%;
    height:1px;
    background-color: #ffffff4f;
    top:7vh;
    right:0%;
    z-index: 5;
}
.recentTabsIcon{
    /* background-color: #ffffff5a; */
    /* width: 45%;
    height: 100%; */
    /* padding: 1rem; */
}

.favTab,.sideTab{
    /* width:89%; */
    margin:clamp(2px, 5%, 1rem);
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    color: var(--dotted-text-color);
    width: clamp(3rem,90%,15rem);
    height: clamp(5rem, 7vw, 10rem);

    line-height: 14px;
    border-radius: 4px;
    overflow: hidden;
    word-wrap: break-word;
    cursor: pointer;

    background-color: rgba(192, 243, 202, 0.216);
    
    /* background-color: rgba(255, 0, 0, 0.223); */

}

.closeBtn{
    all: unset;
    /* visibility: hidden; */
    opacity: 0;
    position: absolute;
    background-color: white;
    color: white;
    height: 1rem;
    font-size: 11px;
    width: 1rem;
    aspect-ratio: 1;
    border-radius: 99rem;
    z-index: 3;
    cursor: pointer;
    text-align: center;
    /* border: 1px solid var(--heading-color); */
    z-index: 9;
    transition: all 0.1s ease-in;
}
.crossIcon{
    height: 50%;
    width: 50%;
}
.backToHome{
    all: unset;
    position: absolute;
    visibility: hidden;
    top:1%;
    /* left:10%; */
    left: 17%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 99rem;
    cursor: pointer;
    z-index: 5;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    width:2rem;
    padding: 7px 5px 0px 7px;
    transition: all 0.1s ease-out;
}
.backToHome:hover{
    background-color: rgba(0, 0, 0, 0.596);
}
.icon{
    transition: all 0.1s ease-out;
}


