*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

:root{
    --body-color: #ede85a3a;
    --secondary-color: rgb(135, 169, 77);
    --terniary-color:  #e4deba;
    --sidebar-color: rgba(63, 97, 97, 0.343);
    --btn-color: rgba(218, 232, 164, 0.954);
    --dotted-text-color: #a38d52;
    --dashed-box-color: #ae851656;
    --heading-color: #57471a;
    --textInDottedLines-color:#d8be76;
}

body{
    background-color: var(--body-color);
}

.parentOfAll{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: "sidebar main main main main main main";
    /* gap: 5px; */
}
.sidebar{
    grid-area: sidebar;
    height: 100vh;
    width: calc((1/7)*100vw);
    background-color: var(--sidebar-color);
    border: 2px solid var(--secondary-color);
    border-radius: 2px;
}
.mainBody{
    grid-area: main;
    width: calc((6/7)*100vw);
    height: 100vh;
    display: grid;
    padding: 16px 16px 16px 16px;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 9rem));
    grid-template-rows: repeat(auto-fit, minmax(9rem, 9rem));
    gap: 5px;
    overflow-y: scroll;
}
.notes{
    border-radius:4px;
    background-color: var(--body-color);
    border: 3px solid var(--textInDottedLines-color);
    color: #57471a;
    padding: 0.5rem;
    word-wrap: break-word;
    overflow: hidden;
    /* min-height: 5rem; */

}
.notes:hover{
    background-color: var(--terniary-color);
    cursor:pointer;
}


.notes:nth-child(2),.notes:nth-child(10),.notes:nth-child(5){
    grid-column: span 2;
    /* height: 16rem; */
}
.notes:nth-child(4),.notes:nth-child(6),.notes:nth-child(7){
    /* grid-row: span 2; */
    /* height: 16rem; */
}
.notes:nth-child(3){
    grid-row: span 2;
    grid-column: span 2;
    /* height: 16rem; */
}


.backBtn,.addBtn{
    all: unset;
    position: absolute;
    height: 10vh;
    aspect-ratio: 1;
    background-color: var(--btn-color);
    box-shadow: var(--dotted-text-color) 0px 0px 20px;
    border-radius: 16px;
    right:8%;
    top:80%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    z-index: 2;
}

.dottedGrid{
    visibility:hidden;
    position: absolute;
    width: 100%;
    height: 98%;
    right:0.5%;
    background-color: var(--terniary-color);
    text-align: center;
    border: 5px dotted var(--dotted-text-color); 
    width: clamp(10rem, 84vw, 90rem);
    margin:4px;
    padding:1rem;
    
    /* position: relative; */
    display: grid;
    grid-template-columns: repeat(auto-fit, clamp(5rem, 10vw, 20rem));
    grid-template-rows: repeat(auto-fit, clamp(5rem, 10vw, 20rem));
    gap: 5px;
    overflow-y: hidden;
}

.textInDottedLine{
    color: var(--dotted-text-color);
    font-size: 3rem;
    position: absolute;
    user-select: none;
    top:25%;
    left:20%;
    right:15%;
    width: 65%;
    z-index:1;
}

.dashedBoxes{
    border: 3px dotted var(--dashed-box-color);
    border-radius: 8px;
    z-index:2;
}
.dashedBoxes:hover{
    background-color: var(--dashed-box-color);
}
.smallText{
    color: var(--dotted-text-color);
    font-size: 1rem;
    position: absolute;
    user-select: none;
    top:75%;
    left:25%;
    right:10%;
    width: 60%;
    z-index:1;
    
}

.previewPage{
    visibility:hidden;
    position: absolute;
    /* width: 100%; */
    height: 98%;
    right:0.5%;
    background-color: var(--terniary-color);
    text-align: center;
    border: 5px dotted var(--dotted-text-color); 
    width: clamp(10rem, 84vw, 90rem);
    margin:4px;
    padding:1rem;
    
    display: grid;
}
textarea{
    all: unset;
    padding-top: 5vh;
    font-weight: 600;
    word-wrap: break-word;
    color: var(--heading-color);

    width: 95%;
    resize: none;

}
#previewHeader{
    /* position: relative; */
    position: absolute;
    top:0%;
    left: 0%;
    height: 15%;
    font-size: 2rem;
    font-weight: 500;
}
#previewParagraph{
    position: absolute;
    height: 75%;
    top: 21%;
    text-align: left;
    padding:1rem;
}
.line{
    position:absolute;
    /* border-top: 3px dashed black; */
    border: 3px dashed var(--dashed-box-color);
    width:95%;
    z-index: 9;;
    top: 20%;
    left:2.5%;
    border-radius: 2rem;
    filter: opacity(0.9);

}

/* Sidebar items */
.sideTab{
    width:80%;
    margin:8px;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    height:4rem;
    background-color: #ffffff85;
    border: 2px solid var(--heading-color);
    border-radius: 4px;
    overflow: hidden;
    word-wrap: break-word;
    cursor: pointer;

}
#openedNotesTab{
    position: relative;

}
.crossBtn{
    /* visibility: hidden; */
    all: unset;
    position: absolute;
    background-color: #c61e37;
    color: white;
    height: 1.1rem;
    font-size: 11px;
    aspect-ratio: 1;
    border-radius: 99rem;
    top:-10%;
    right:5%;
    z-index: 3;
    cursor: pointer;
    text-align: center;
    border: 1px solid var(--heading-color);
}

