*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

:root{
    --body-color: #c4c4c4;
    --notes-color:#e2e2b0;
    --secondary-color: rgb(135, 169, 77);
    --terniary-color:  #bab6cd9e;
    --previewPage_bg-color:#bab6cda0;
    --sidebar-color: rgba(142, 201, 163, 0.183);
    --btn-color: rgb(89, 95, 64);
    --dotted-text-color: #2e384b;
    --dashed-box-color: #161bae36;
    --heading-color: #57471a;
    --textInDottedLines-color:#836d2f;
    --deleteBtn-color:rgb(153, 4, 4);
    --option-hover-color:#657eaee1;
}

body{
    background-color: var(--body-color);
    background-image: url(../icons/bg1.svg);
    background-size: cover;
    background-blend-mode: multiply;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(1px);
    transition: all 0.2s ease-in;
}

.parentOfAll{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: "sidebar main main main main main main";
    /* gap: 5px; */
}

.mainBody{
    grid-area: main;

    text-align: center;
    width: calc((6/7)*100vw);
    height: 100vh;
    display: grid;
    padding: 32px 16px 16px 32px;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 9rem));
    grid-template-rows: repeat(auto-fit, minmax(9rem, 9rem));
    gap: 5px;
    overflow-y: scroll;
    overflow-x: h;
}
.blankPageText{
    position: absolute;
    width:60%;
    color: var(--dotted-text-color);
    font-size: 2.5rem;
    /* padding: 2rem; */
    top:20%;
    left:30%;
    font-weight: 600;
    user-select: none;

}
.notes{
    position: relative;
    border-radius:4px;
    /* background-color: var(--terniary-color); */
    background: #bdbdbd3c;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    /* border: 1px solid var(--textInDottedLines-color); */
    color: #30270e;
    padding: 0.5rem;
    word-wrap: break-word;
    overflow: hidden;
    z-index: 0;
    margin:0px 5px 0px 0px;
    box-shadow: 0px 2px 10px rgba(86, 87, 66, 0.37);
    transition: all 0.15s ease-in;
}
.notes:hover{
    cursor:pointer;
}
.notesOptions{
    visibility: hidden;
    position: absolute;
    top:2%;
    right:2%;
    width:6rem;
    height:6rem;
    background-color: rgb(215, 215, 215);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 4px;
    gap:4px;
    transition: all 0.1s ease-out;
}
.threeDotBox{
    width:3rem;
    height: 1.8rem;
    display: flex;
    justify-content: end;
}
.threeDot{
    right:0%;
}
.deleteNote{
    background-color: var(--deleteBtn-color);
    height: 33%;
    width: 100%;
    border-radius: 4px;
    color:white;
    transition: all 0.1s ease-out;
    /* background-color: #757373e1; */
}
.deleteNote:hover{
    background-color: var(--option-hover-color);
}
.addToFav{
    height: 33%;
    width: 100%;
    border-radius: 4px;
    background-color: white;
    transition: all 0.1s ease-out;
}
.addToFav:hover{
    background-color: var(--option-hover-color);;
}
.cancel{
    height:33%;
    width: 100%;
    background-color: white;
    border-radius: 4px;
    transition: all 0.1s ease-out;
}
.cancel:hover{
    background-color: var(--option-hover-color);;
}

.addBtn{
    all: unset;
    position: absolute;
    height: 7vh;
    aspect-ratio: 1;
    background-color: var(--btn-color);
    box-shadow: var(--dotted-text-color) 0px 0px 20px;
    border-radius: 16px;
    right:12%;
    top:75%;
    display: flex;
    /* align-items: center; */
    padding:8px;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    color: white;
    z-index: 2;
}

.dottedGrid{
    visibility:hidden;
    position: absolute;
    width: 100%;
    height: 98%;
    right:0.5%;
    background-color: var(--terniary-color);
    text-align: center;
    border: 5px dotted var(--dotted-text-color); 
    width: clamp(10rem, 84vw, 90rem);
    margin:4px;
    padding:1rem;
    
    /* position: relative; */
    display: grid;
    grid-template-columns: repeat(auto-fit, clamp(5rem, 10vw, 20rem));
    grid-template-rows: repeat(auto-fit, clamp(5rem, 10vw, 20rem));

    gap: 5px;
    overflow-y: hidden;
    z-index: 1;
}

.textInDottedLine{
    color: var(--dotted-text-color);
    font-size: 3rem;
    position: absolute;
    user-select: none;
    top:25%;
    left:20%;
    right:15%;
    width: 65%;
    z-index:1;
}

.dashedBoxes{
    border: 3px dotted var(--dashed-box-color);
    border-radius: 8px;
    z-index:2;
}
.dashedBoxes:hover{
    background-color: var(--dashed-box-color);
}
.smallText{
    color: var(--dotted-text-color);
    font-size: 1rem;
    position: absolute;
    user-select: none;
    top:75%;
    left:25%;
    right:10%;
    width: 60%;
    z-index:1;
}

.previewPage{
    visibility:hidden;
    position: absolute;
    /* width: 100%; */
    height: 98.5vh;
    width: clamp(10rem, 84vw, 90rem);
    right:0.5%;
    background-color: var(--previewPage_bg-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    text-align: center;
    border: 2px solid var(--dotted-text-color); 
    margin:4px;
    padding:1rem;
    border-radius: 8px;
    /* scale: 0.9; */
    
    display: grid;
    z-index: 2;
}
textarea{
    all: unset;
    padding-top: 5vh;    
    word-wrap: break-word;
    color: var(--dotted-text-color);

    width: 95%;
    resize: none;
}
#previewHeader{
    /* position: relative; */
    position: absolute;
    top:0%;
    left: 0%;
    height: 15%;
    font-size: 2rem;
    font-weight: 700;
}
#previewParagraph{
    position: absolute;
    height: 75%;
    top: 21%;
    text-align: left;
    padding:1rem;
    font-weight: 500;
    font-size: 20px;
}
.line{
    position:absolute;
    /* border-top: 3px dashed black; */
    border: 3px dashed var(--dashed-box-color);
    width:95%;
    z-index: 9;;
    top: 20%;
    left:2.5%;
    border-radius: 2rem;
    filter: opacity(0.9);

}

/* Sidebar items */
.sidebar{
    position: relative;
    grid-area: sidebar;
    height: 100vh;
    width: calc((1/7)*100vw);
    background-color: var(--sidebar-color);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
.sidebar::after{
    position: absolute;
    content: " ";
    width: 1px;
    height:100vh;
    background-color: #ffffff38;
    top:0%;
    right:0%;
    z-index: 5;
}

.icons{
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.1s ease-in-out;
}
.icons:hover{
    opacity:1;
}

#optionsAtSidebar{
    padding: 8px;
    height:2.8rem;
    width: 100%;
    justify-content: space-around;
    background-color: rgba(90, 108, 125, 0.811);
    font-size: 12px;
    display: flex;
}
#optionsAtSidebar::after{
    position: absolute;
    content: " ";
    width: 100%;
    height:1px;
    background-color: #ffffff4f;
    top:2.8rem;
    right:0%;
    z-index: 5;
}

.sideTab{
    /* width:89%; */
    margin:8px;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    width: clamp(3rem,84%,10rem);
    height: clamp(5rem, 7vw, 10rem);

    line-height: 14px;
    border-radius: 4px;
    overflow: hidden;
    word-wrap: break-word;
    cursor: pointer;

    background-color: rgba(192, 243, 202, 0.216);

}

.closeBtn{
    /* visibility: hidden; */
    all: unset;
    position: absolute;
    background-color: var(--deleteBtn-color);
    color: white;
    height: 1rem;
    font-size: 11px;
    aspect-ratio: 1;
    border-radius: 99rem;
    z-index: 3;
    cursor: pointer;
    text-align: center;
    /* border: 1px solid var(--heading-color); */
    z-index: 9;
}
.backToHome{
    all: unset;
    position: absolute;
    top:1%;
    left: 15%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 99rem;
    cursor: pointer;
    z-index: 5;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    width:2rem;
    padding: 7px 5px 0px 7px;
    transition: all 0.1s ease-in;
}
.backToHome:hover{
    background-color: rgba(0, 0, 0, 0.8);
}


